{% load static %}
<footer>
    <div class="contenedor">
        <h1 style="color: white;">Contact Information</h1>
        <br>
        <a href="https://github.com/joelcede">
            <img src="{% static 'img/github-blue.png' %}" id="logo_github">
        </a>
        <a href="https://www.linkedin.com/in/joel-steven-cede&ntilde;o-7517b0201/">
            <img src="{% static 'img/linkedin-logo.png' %}" id="logo_linkedin">
        </a>
        <a href="mailto:jioska_one@outlook.es">
            <img src="{% static 'img/logo-hotmail.png' %}" id="logo_hotmail">
        </a>
        <br>
        <br>
        <p style="color: white; font-size: 18px;">click on the images</p>
    </div>
</footer>