{% load static %}
<link rel="stylesheet" href="../static/css/nav.css">
<footer>
    <div class="contenedor">
        <h2 style="color: white;">Contacto</h2>
        <a href="https://github.com/joelcede">
            <img src="{% static 'img/github_white.png' %}" id="logo_github">
        </a>
        <a href="https://www.linkedin.com/in/joel-steven-cede&ntilde;o-7517b0201/">
            <img src="{% static 'img/linkedin-logo.png' %}" id="logo_linkedin">
        </a>
        <a href="mailto:jioska_one@outlook.es">
            <p style="color: white;">jioska_one@outlook.es</p>
        </a>
    </div>
</footer>