{% load static %}
<link rel="stylesheet" href="{% static 'css/init.css' %}">

<div class="background">
    <div class="content">
        <div class="content_content">
            <div class="letters">
                <h1 class="h1">Unlimited movies, TV shows, and more.</h1>
                <br>
                <p>Watch anywhere educational videos</p>
                <br>
                <a href="#" class="box_button">
                    <button id="buttom_started">GET STARTED</button>
                </a>
            </div>
        </div>
    </div>
</div>
