{% load static %}
<link rel="stylesheet" href="{% static 'css/init.css' %}">

<div class="background">
    <div class="content">
        <div class="content_content">
            <div class="letters">
                <h1 class="h1">Unlimited movies, TV shows, and more.</h1>
                <br>
                <p>Watch anywhere educational videos</p>
                <br>
                <a href="#" class="box_button">
                    <button id="buttom_started">GET STARTED</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container_total">
    <div class="container_imgtext">
        <div class="text">
            <h1 class="h1web">Web programming</h1>
            <p>The job market is getting tougher. 
            The more traditional jobs are phased out every day. </p>
        </div>
        <div class="screen_bg">
            <div class="containerscrennbg">
                <img class="image" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">
                <div class="idk">
                    <img class="imgjavascrip" src="{% static 'img/una-taza-de-javascript.png' %}" >
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container_total">
    <div class="container_imgtext">
        <div class="screen_bg">
            <div class="containerscrennbg">
                <a href="https://angular.io">
                    <img class="image" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">
                    <div class="idk">
                        <img src="{% static 'img/angular.png' %}" class="imgangular">
                    </div>
                </a>
            </div>
        </div>
        <div class="text">
            <h1 id="h1web">Angular</h1>
            <p id="ptextt">
                Learn one way to build applications 
                with Angular and reuse your code 
                and abilities to build apps for 
                any deployment target. For web, 
                mobile web, native mobile and native desktop
            </p>
        </div>
        </div>
    </div>
</div>

<div class="container_total">
    <div class="container_imgtext">
        <div class="text">
            <h1 class="h1web">Docker</h1>
            <p>Docker simplifies and accelerates your workflow, 
                while giving developers the freedom to innovate 
                with their choice of tools, application stacks, 
                and deployment environments for each project.</p>
        </div>
        <div class="screen_bg">
            <div class="containerscrennbg">
                <a href="https://www.docker.com">
                    <img class="image" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">
                    <div class="idk">
                        <img class="imgdocker" src="{% static 'img/docker.png' %}" >
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container_total">
    <div class="container_imgtext">
        <div class="screen_bg">
            <div class="containerscrennbg">
                <a href="https://www.jenkins.io" class="linkimg">
                    <img class="image" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">
                    <div class="idk">
                        <img src="{% static 'img/jenkins.png' %}" class="imgjenkins">
                    </div>
                </a>
            </div>
        </div>
        <div class="text">
            <h1 id="h1web">Jenkins</h1>
            <p id="ptextt">
                The leading open source automation server, 
                Jenkins provides hundreds of plugins to 
                support building, deploying and automating any project.
            </p>
        </div>
        </div>
    </div>
</div>