
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.background{
    background-image: url(../img/fondo_Inicio.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 20px;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-bottom: 8px solid #222;
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-bottom-color: rgb(34, 34, 34);
}
.content .content_content{
    background: transparent;
    position: relative;
    text-align: center;
    margin: 200px;
    color: #fff;
}
.letters{
    padding-left: 20%;
    padding-right: 20%;
}
.h1{
    font-size: 3.4rem;
}
p{
    font-size: 1.625rem;
}
.box_button{
    margin: auto;
}
#buttom_started{
    outline: none;
    font-size: 1rem;
    min-height: 40px;
    margin: .25em auto;
    margin-top: 0.25em;
    margin-right: auto;
    margin-bottom: 0.25em;
    margin-left: auto;
    padding: 0 1em;
    padding-top: 0px;
    padding-right: 1em;
    padding-bottom: 0px;
    padding-left: 1em;
    background-color: #e50914;
    border-radius: 2px;
    border: 0;
    width: auto;
    color: #fff;
    cursor: pointer;
}
.text{
    width: 52%;
    padding: 0 3rem 0 0;
    font-size: 1.625rem;
    font-weight: 400;
    color: #fff;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto
}
.container_total{
    position: relative;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
    background-image: initial;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background: black;
}
.container_imgtext {
    max-width: 1100px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h1web{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
}
.screen_bg{
    width: 48%;
    height: 100%;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    box-sizing: border-box;
}
.containerscrennbg, .contextall{
    position: relative;
    overflow: hidden;
}
.image{
    position: relative;
    z-index: 2;
    max-width: 100%;
    height: auto;
    border: 0;
}
.idk{
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.imgjavascrip, .imgangular, .imgdocker, .imgjenkins{
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
}