{% load static %}
<link rel="stylesheet" href="../../../static/css/lg_up.css">
<div class="containter_login">
    <div class="cont_lg">
        <div>
            <form action="" class="id">
                <br>
                <label for="email" class="h">
                    <input type="email" id="email" placeholder="email">
                </label><br><br>
                <label for="passw">
                    <input type="password" id="passw" placeholder="password">
                </label><br><br>
                <button type="submit" class="but">Sign in</button><br><br>
            </form>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto social-container my-2 order-md-1">
                <button class="btn btn-danger  mb-2">
                    <a href="#">Login with Instagram</a>
                </button>
                <button class="btn btn-primary mb-2">
                    <a href="#">Login with Facebook
                    </a>
                </button>
                <button class="btn btn-info mb-2">
                    <a href="#">Login with LinkedIn</a>
                </button>
            </div>
        </div>
    </div>
</div>