{% load static %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<div class="containerForm">
    <div class="centerFormSignUp">
        <form action="{% url 'users:signup' %}" method="POST">
            {% csrf_token %}

            {{ form.as_p}}
            <input id="id_username" hidden placeholder="UserName">
            <input id="id_email" hidden placeholder="E-mail">
            <input id="id_password" hidden placeholder="Password">
            <input id="id_password_confirmation" hidden placeholder="Password Confirmation">
            <input id="id_first_name" hidden placeholder="First Name">
            <input id="id_last_name" hidden placeholder="Last Name">
            <!-- <label for="username">
                <input type="text" id="username" placeholder="UserName" >
            </label><br><br>
            <label for="email">
                <input type="email" id="email" placeholder="E-mail">
            </label><br><br>
            <label for="password">
                <input type="password" id="password" placeholder="Password">
            </label><br><br>
            <label for="password_confirmation">
                <input type="password" id="password_confirmation" placeholder="Password Confirmation">
            </label><br><br>
            <label for="first_name">
                <input type="text" id="first_name" placeholder="First Name">
            </label><br><br>
            <label for="last_name">
                <input type="text" id="last_name" placeholder="Last Name">
            </label><br><br> 
            <p>gracias</p>-->
            <button type="submit" class="btn_register">Register</button><br><br>
        </form>
        <br>
        <button>PayPal Donation</button>
        
    </div>
</div>